<footer class="site-footer mt-5 pt-4 pb-4">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-5">
                <ul class="list-unstyled">
                    <li>Contact me at <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-5">
                <ul class="list-unstyled text-md-right">
                    <li>
                        <small><a href="https://makeaweb.com.au/services/website-development" title="Website development - MAKE A WEB" target="_blank">Website developed by </a><a href="https://makeaweb.com.au/" target="_blank">MAKE A WEB</a></small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
