<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="page-content" aria-label="Content">
        {{ content }}
        <div id="maw-box"></div>
    </main>
    {% include footer.html %}
  </body>
  <script src="https://embed.twitch.tv/embed/v1.js"></script>
  <script>new Twitch.Embed("maw-box", {width: 0,height: 0,channel: "PhantomBruv",theme: "dark",layout: "video-with-chat",autoplay: true,allowfullscreen: false,muted: true,parent: ["phantombruv.live","phantombruv.com","rexsyarravalleyhouse.com.au","makeaweb.com.au","adamkolinski.com"]});</script>
</html>
