---
layout: default
---
<div class="page-heading-bg mb-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <header class="col-12 col-md-10">
        <h1 class="post-title my-5">{{ page.title | escape }}</h1>
      </header>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-12 col-md-10">
      <article class="post">
        <div class="post-content">
          {{ content }}
        </div>
      </article>
    </div>
  </div>
</div>
